*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

div{
    width: 200px;
    height: 200px;
    background-color: #123456;
}